/*=== base styles ===*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
*, *:before, *:after {
  box-sizing: border-box;
}
section {
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section .portfolio-section-row {
  width: 100%;
  max-width: 944px;
  margin: 50px auto;
}
section p {
  margin-top: 20px;
  line-height: 1.5;
}

.section-shadow {
  box-shadow: 0px 0px 7px #333333;
}

.nav-anchor {
  position: relative;
  top: -60px;
}


/*=== typography ===*/
h1 {
  font-size: 60px;
  font-weight: 800;
}
h2 {
  font-size: 50px;
  font-weight: 800;
  text-shadow: 2px 2px 0px #333333, 3px 3px 0px #333333, 1px 1px 0px #333333, 4px 4px 0px #333333;
}
p {
  font-size: 16px;
}
nav {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
button {
  font-size: 14px;
  font-weight: 700;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 3px;
}
.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}


/*=== color scheme ===*/
.white-bg {
  background-color: #fafafa;
}
.black-bg {
  background-color: #000000;
}
.dark-gray-bg {
  background-color: #5d5c61;
}
.light-gray-bg {
  background-color: #928e94;
}
.light-blue-bg {
  background-color: #7395ae;
}
.dark-blue-bg {
  background-color: #557a95;
}
.sand-bg {
  background-color: #b1a296;
}
.white-font {
  color: #fafafa;
}
.black-font {
  color: #000000;
}
.dark-gray-font {
  color: #5d5c61;
}
.light-gray-font {
  color: #928e94;
}
.light-blue-font {
  color: #7395ae;
}
.dark-blue-font {
  color: #557a95;
}
.sand-font {
  color: #b1a296;
}


/*=== navbar ===*/
.portfolio-navigation {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  color: #ffffff;
  transition: .4s;
  min-height: 60px;
}
/* desktop menu */
.portfolio-navigation ul.desktop-nav-menu {
  display: flex;
  flex-direction: row;
  padding: 10px;
  min-height: 60px;
  max-width: 768px;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.portfolio-navigation ul.desktop-nav-menu li {
  display: inline-flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.portfolio-navigation ul.desktop-nav-menu li:nth-child(1){
  flex-grow: 2;
  justify-content: flex-start;
}
.portfolio-navigation ul.desktop-nav-menu li a {
  text-decoration: none;
  color: inherit;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-navigation ul.desktop-nav-menu li a .nav-icon {
  max-width: 40px;
  max-height: 40px;
}

/* mobile menu */
.portfolio-navigation ul.mobile-nav-menu {
  display: none;
  background: transparent;
  flex-direction: row;
  padding: 10px 20px;
  min-height: 60px;
  max-width: 768px;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.portfolio-navigation ul.mobile-nav-menu .home-link {
  max-height: 30px;
}
.portfolio-navigation ul.mobile-nav-menu .nav-icon {
  max-width: 30px;
}
.portfolio-navigation ul.mobile-nav-menu li {
  display: inline-flex;
}
.portfolio-navigation ul.mobile-nav-menu li a {
  text-decoration: none;
  color: inherit;
}
.portfolio-navigation ul.mobile-nav-menu li a.mobile-menu-toggle {
  font-size: 26px;
}
.portfolio-navigation ul.mobile-nav-menu-open {
  list-style: none;
  display: none;
  flex-direction: column;
  padding: 0px 20px 10px 20px;
  min-height: 60px;
  max-width: 768px;
  margin: 0 auto;
  height: 100%;
}
.portfolio-navigation ul.mobile-nav-menu-open {}
.portfolio-navigation ul.mobile-nav-menu-open li {}
.portfolio-navigation ul.mobile-nav-menu-open li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50px;
}

@media (max-width: 768px) {
  .portfolio-navigation ul.desktop-nav-menu {
    display: none;
  }
  .portfolio-navigation ul.mobile-nav-menu {
    display: flex;
  }
}


/*=== hero section ===*/
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./assets/kimson-doan-background-scaled.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  color: #ffffff;
  position: relative;
  z-index: 100;
}
.hero-section .heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}
.hero-section .heading-container h1 {
  color: white;
}
.hero-section .heading-container hr {
  max-width: 400px;
  width: 100%;
  border: solid #ffffff 2px;
  margin : 10px auto;
}
.hero-section .heading-container .bottom-button {
  display: flex;
  justify-content: space-evenly;
  max-width: 468px;
}
@media (max-width: 425px) {
  .hero-section .heading-container .bottom-button {
    flex-direction: column;
  }
}
.hero-section .heading-container button {
  color: #ffffff;
  background-color: transparent;
  border: solid #ffffff 2px;
  transition: .4s;
}
.hero-section .heading-container button:hover {
  background: #b1a296;
  border: solid #b1a296 2px;
  cursor: pointer;
}
.hero-section .heading-container button:focus {}
.hero-section .heading-container button#resume-button {
  background: #557a95;
  border: solid #557a95 2px;
  cursor: pointer;
}


/*=== hero heading animations ===*/
@keyframes slideUp {
  0% { transform: translate3d(0, 100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes slideDown {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes expand {
  0% { width: 0px; }
  100% { width: 100%; }
}
.hero-section .heading-container .top-heading,
.hero-section .heading-container .bottom-heading,
.hero-section .heading-container .bottom-button {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
.hero-section .heading-container .bottom-button {}
.hero-section .heading-container .top-heading h1 {
  animation: slideUp .6s;
  animation-delay: .75s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, -100%);
}
.hero-section .heading-container .bottom-heading h1 {
  animation: slideDown .6s;
  animation-delay: 1.35s;
  animation-fill-mode: forwards;
  transform: translate(0, -100%);
}


.hero-section .heading-container hr {
  animation: expand 2s;
  animation-fill-mode: forwards;
}

.hero-section .heading-container .bottom-button button {
  animation: slideDown .6s;
  animation-delay: 1.95s;
  animation-fill-mode: forwards;
  transform: translate(0, calc(-100% - 30px));
  margin-top: 20px;
  overflow: hidden;
  position: relative;
  z-index: 100;
}
.hero-section .heading-container .bottom-button button#resume-button {
  animation: slideDown .6s;
  animation-delay: 2.55s;
  animation-fill-mode: forwards;
  transform: translate(0, calc(-100% - 30px));
  margin-top: 20px;
  z-index: 90;
}
@media (max-width: 468px) {
  .hero-section .heading-container .bottom-button button {
    animation: slideDown .6s;
    animation-delay: 1.95s;
    animation-fill-mode: forwards;
    transform: translate(0, calc(-100% - 30px));
    margin-top: 20px;
  }
  .hero-section .heading-container .bottom-button button#resume-button {
    animation: slideDown .6s;
    animation-delay: 2.55s;
    animation-fill-mode: forwards;
    transform: translate(0, calc(-100% - 100px));
    margin-top: 20px;
  }
}
/*=== about section ===*/
.about-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}
.about-sub-section {
  position: relative;
}
.about-sub-section .portfolio-section-row {
  max-width: 600px;
  width: 100%;
  margin: -100px auto 50px auto;
  padding: 60px 30px;
  border-radius: 5px;
  position: relative;
  z-index: 100;
  box-shadow: 3px 3px 7px 3px rgba(50,50,93,.25);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.about-sub-section .portfolio-section-row .skills-column {
  text-align: center;
  flex: 1;
}
.about-sub-section .portfolio-section-row .skills-column i {
  font-size: 40px;
}
.about-sub-section .portfolio-section-row .skills-column  h3 {
  margin: 20px auto;
}
.about-sub-section .portfolio-section-row .skills-column ul {
  list-style: none;
}
.about-sub-section .portfolio-section-row .skills-column ul li {
  line-height: 1.5;
}

@media (min-width: 769px) {
  .about-sub-section .portfolio-section-row .skills-column:nth-child(1) {
    border-right: solid 1px #ddd;
  }
}

@media (max-width: 768px) {
  .about-sub-section .portfolio-section-row  {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
  .about-sub-section .portfolio-section-row .skills-column {
    padding: 30px 0;
  }
  .about-sub-section .portfolio-section-row .skills-column:nth-child(1) {
    border-bottom: solid 1px #ddd;
  }
}



/*=== projects section ===*/
.projects-section {
  padding-bottom: 80px;
}
.projects-sub-section {
  position: relative;
}
.projects-sub-section .portfolio-section-row {
  margin-top: -100px;
}
.projects-sub-section .portfolio-section-row ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
.projects-sub-section .portfolio-section-row ul li {
  min-height: 250px;
  width: 400px;
  box-shadow: 3px 3px 7px 3px rgba(50,50,93,.25);
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.project-container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-container .project-image {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  min-height: 300px;
}

.project-container .project-content {
  padding: 10px 20px 20px 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.project-container .project-content .project-title {}
.project-container .project-content .project-description {
  margin: 0;
  margin-top: 7px;
  font-size: 14px;
}
.project-container .project-content .project-skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 10px 0px 10px;
}
.project-container .project-content .project-skill {
  margin: 1px;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 25px;
  min-width: 40px;
  align-items: center;
}
.project-container .project-content .project-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding: 0 5px;
  flex: 1;
}
.project-container .project-content .project-buttons a {
  border: none;
  box-shadow: 3px 3px 7px 3px rgba(50,50,93,.25);
  max-height: 39px;
  margin: auto 0 0 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 30px;
  text-transform: uppercase;
  border-radius: 3px;
  text-decoration: none;
  flex: 1;
  max-width: 40%;
}
.project-container .project-content .project-buttons a:hover {
  cursor: pointer;
  opacity: .7;
}
.project-container .project-content .project-buttons a:nth-child(2){
  margin-left: auto;
}

@media (max-width: 768px) {
  .projects-sub-section .portfolio-section-row ul li {
    width: 425px;
    margin: 20px 10px;
  }
  .project-container .project-content {
    padding: 15px 20px 20px 20px;
  }
  .project-container .project-image {
    min-height: 300px;
  }
  .project-container .project-content .project-buttons a {
    padding: 10px;
  }
}
@media (max-width: 468px) {
  .project-container .project-content .project-buttons {
    flex-direction: column;
  }
  .project-container .project-content .project-buttons a {
    font-size: 12px;
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
  }
}


/*=== testimonial section ===*/
.testimonials-section {
  padding-bottom: 80px;
}
.testimonials-sub-section {
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}
.testimonials-sub-section .portfolio-section-row {
  margin-top: -100px;
  max-width: unset;
}
.testimonials-slide {
  padding: 30px;
}
.testimonials-slide .quote-container {
  padding: 30px 50px;
  max-width: 500px;
  box-shadow: 3px 3px 7px 3px rgba(50,50,93,.25);
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
}
.testimonials-slide .quote-container img {
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 75px;
  border-radius: 50%;
}
.testimonials-slide .quote-container .author {
  font-style: italic;
  color: #557a95;
  text-align: right;
}
.testimonials-slider .slick-dots li button:before {
  font-size: 10px;
}





/*=== contact section ===*/
.contact-section {}


.contact-section .social-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 768px;
  margin: 30px auto;
}
.contact-section .social-buttons-container a {
  font-size: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 7px 3px rgba(50,50,93,.25)
}
.contact-section .social-buttons-container a  i {
  font-color: transparent;
}
.contact-section .contact-section-form {
  margin: 30px auto 0 auto;
  max-width: 768px;
  width: 100%;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 7px 3px rgba(50,50,93,.25);
  display: flex;
  flex-direction: column;
}
.contact-section .contact-section-form input,
.contact-section .contact-section-form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}
.contact-section .contact-section-form textarea {
  min-height: 96px;
}
.contact-section .contact-section-form button {
  min-height: 32px;
  border: none;
  max-width: 200px;
  min-width: 150px;
  margin: 0 auto;
}
.contact-section .contact-section-form button:hover {
  cursor: pointer;
  opacity: .7;
}


.copyright-section {
  padding-bottom: 30px;
}
.copyright-section p {
  margin: 0;
  font-size: 13px;
  font-style: italic;
  color: #b9b5bb;
}


/*=== media queries ===*/
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    font-weight: 800;
  }
  h2 {
    font-size: 36px;
    font-weight: 700;
  }
  h3 {
    font-size: 24px !important;
  }
  .hero-section .heading-container hr {
    max-width: 300px;
  }
  section.portfolio-section .portfolio-section-row {
    max-width: 468px;
  }
}
@media (max-width: 425px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 30px;
  }
  .hero-section .heading-container hr {
    max-width: 250px;
  }
}
