/*=== base styles ===*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
*, *:before, *:after {
  box-sizing: border-box;
}
section {
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .portfolio-section-row {
  width: 100%;
  max-width: 768px;
  margin: 50px auto;
}
section p {
  margin-top: 20px;
  line-height: 1.5;
}


.section-shadow {
  box-shadow: 0px 0px 7px #333333;
}
.hero-section {
  position: relative;
  z-index: 100;
  box-shadow: 0px 0px 7px #333333;
}
/*
.about-section {
  position: relative;
  z-index: 90;
  box-shadow: 0px 0px 7px #333333;
  display: flex;
  flex-direction: column;
}

.projects-section {
  position: relative;
  z-index: 80;
  box-shadow: 0px 0px 7px #333333;
}
.testimonials-section {
  position: relative;
  z-index: 70;
  box-shadow: 0px 0px 7px #333333;
}
.skills-section {
  position: relative;
  z-index: 60;
  box-shadow: 0px 0px 7px #333333;
}
.contact-section {
  position: relative;
  z-index: 50;
  box-shadow: 0px 0px 7px #333333;
}
*/


/*=== typography ===*/
h1 {
  font-size: 60px;
  font-weight: 800;
}
h2 {
  font-size: 34px;
  font-weight: 800;
}
p {
  font-size: 16px;
}
nav {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
button {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}


/*=== color scheme ===*/
.white-bg {
  background-color: #fafafa;
}
.black-bg {
  background-color: #000000;
}
.dark-gray-bg {
  background-color: #5d5c61;
}
.light-gray-bg {
  background-color: #928e94;
}
.light-blue-bg {
  background-color: #7395ae;
}
.dark-blue-bg {
  background-color: #557a95;
}
.sand-bg {
  background-color: #b1a296;
}
.white-font {
  color: #fafafa;
}
.black-font {
  color: #000000;
}
.dark-gray-font {
  color: #5d5c61;
}
.light-gray-font {
  color: #928e94;
}
.light-blue-font {
  color: #7395ae;
}
.dark-blue-font {
  color: #557a95;
}
.sand-font {
  color: #b1a296;
}


/*=== navbar ===*/
.portfolio-navigation {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  color: #ffffff;
  transition: .4s;
}
/* desktop menu */
.portfolio-navigation ul.desktop-nav-menu {
  display: flex;
  flex-direction: row;
  padding: 10px;
  min-height: 60px;
  max-width: 768px;
  margin: 0 auto;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.portfolio-navigation ul.desktop-nav-menu li {
  display: inline-flex;
}
.portfolio-navigation ul.desktop-nav-menu li a {
  text-decoration: none;
  color: inherit;
}
/* mobile menu */
.portfolio-navigation ul.mobile-nav-menu {
  display: none;
}

/*=== hero ===*/
.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./assets/kimson-doan-background-scaled.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  color: #ffffff;
}
.hero-section .heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}
.hero-section .heading-container h1 {
  color: white;
}
.hero-section .heading-container hr {
  max-width: 400px;
  width: 100%;
  border: solid #ffffff 2px;
  margin : 10px auto;
}
.hero-section .heading-container .bottom-button {}
.hero-section .heading-container button {
  color: #ffffff;
  background-color: transparent;
  border-radius: 3px;
  border: solid #ffffff 2px;
  padding: 10px 30px;
  transition: .4s;
}
.hero-section .heading-container button:hover {
  background: #b1a296;
  border: solid #b1a296 2px;
  cursor: pointer;
}
.hero-section .heading-container button:focus {

}

/*=== hero heading animations ===*/
@keyframes slideUp {
  0% { transform: translate3d(0, 100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes slideDown {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.hero-section .heading-container .top-heading,
.hero-section .heading-container .bottom-heading,
.hero-section .heading-container .bottom-button {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
.hero-section .heading-container .bottom-button {}
.hero-section .heading-container .top-heading h1 {
  animation: slideUp .6s;
  animation-delay: .75s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, -100%);
}
.hero-section .heading-container .bottom-heading h1 {
  animation: slideDown .6s;
  animation-delay: 1.35s;
  animation-fill-mode: forwards;
  transform: translate(0, -100%);
}
.hero-section .heading-container .bottom-button button {
  animation: slideDown .6s;
  animation-delay: 1.95s;
  animation-fill-mode: forwards;
  transform: translate(0, calc(-100% - 30px));
  margin-top: 30px;
}


/*=== about section ===*/
.about-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 180px;
  position: relative;
  z-index: 90;
  box-shadow: 0px 0px 7px #333333;
}


/*=== skills section ===*/
.skills-section .portfolio-section-row {
  width: 100%;
  padding: 30px;
  border-radius: 5px;
  border: solid 1px #ddd;
  margin-top: -160px;
  position: relative;
  z-index: 100;
  box-shadow: 3px 3px 7px 3px rgba(50,50,93,.25);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.skills-section .portfolio-section-row .skills-column {
  text-align: center;
  flex: 1;
}
.skills-section .portfolio-section-row .skills-column i {
  font-size: 40px;
}
.skills-section .portfolio-section-row .skills-column  h3 {
  margin: 20px auto;
  font-size: 20px;
}
.skills-section .portfolio-section-row .skills-column ul {
  list-style: none;
}
.skills-section .portfolio-section-row .skills-column ul li {
  line-height: 1.5;
}

@media (min-width: 768px) {
  .skills-section .portfolio-section-row .skills-column:nth-child(1) {
    border-right: solid 1px #ddd;
  }
}

@media (max-width: 767px) {
  .skills-section .portfolio-section-row  {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
  .skills-section .portfolio-section-row .skills-column {
    padding: 30px 0;
  }
  .skills-section .portfolio-section-row .skills-column:nth-child(1) {
    border-bottom: solid 1px #ddd;
  }
}






/*=== testimonial slides ===*/
.slick-slide {
  padding: 30px;
}
.slick-slide > div {
  padding-left: 30px;
  box-shadow: 3px 3px 7px 3px rgba(50,50,93,.25);
}

/*=== media queries ===*/
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    font-weight: 800;
  }
  h2 {
    font-size: 34px;
    font-weight: 700;
  }
}
@media (max-width: 425px) {
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 30px;
  }
  .hero-section .heading-container hr {
    max-width: 250px;
  }
}
